{{ define "head" }}
	{{ $style := resources.Get "css/download.css" }}
	<link rel='stylesheet' href='{{ $style.Permalink }}'>
{{ end }}

{{ define "main" }}
	<div class='w-960 downloads'>
		<h1 class='section-header section-header--low downloads__header'>Downloads</h1>

		<div class='os-list'>
			<a class='os' href='/bin/marquee-0.0.1-mac.zip' download='Marquee.zip'>
				<img src='/img/mac.ico'>
				<h4 class='os__header'>Mac</h4>
			</a>

			<a class='os highlight' href='/bin/marquee 0.0.1.AppImage' download='Marquee.AppImage'>
				<img src='/img/linux.ico'>
				<h4 class='os__header'>Linux</h4>
			</a>

			<a class='os' href='/bin/marquee setup 0.0.1.exe' download='Marquee Setup.exe'>
				<img src='/img/windows.ico'>
				<h4 class='os__header'>Windows</h4>
			</a>
		</div>
	</div>
{{ end }}
