<!DOCTYPE html>

<html>
<head>
	<title><%= title %></title>
	<% include layoutHead %>
	<link rel='stylesheet' href='/css/download.css'>
</head>
<body>
	<% include layoutBody %>

	<div class='w-960 downloads'>
		<h2>Downloads</h2>

		<div class='osList'>
			<a class='os' href='#'>
				<img src='/img/mac.ico'>
				<h4>Mac</h4>
				&darr;
			</a>

			<a class='os' href='#'>
				<img src='/img/linux.ico'>
				<h4>Linux</h4>
				&darr;
			</a>

			<a class='os' href='#'>
				<img src='/img/windows.ico'>
				<h4>Windows</h4>
				&darr;
			</a>
		</div>
	</div>
</body>
</html>
