<!DOCTYPE html>

<html>
<head>
	<title><%= title %></title>
	<% include layoutHead %>
	<link rel='stylesheet' href='/css/download.css'>
</head>
<body>
	<% include layoutBody %>

	<div class='w-960 downloads'>
		<h1 class='section-header section-header--low downloads__header'>Downloads</h1>

		<div class='os-list'>
			<a class='os' href='#'>
				<img src='/img/mac.ico'>
				<h4 class='os__header'>Mac</h4>
			</a>

			<a class='os' href='#'>
				<img src='/img/linux.ico'>
				<h4 class='os__header'>Linux</h4>
			</a>

			<a class='os' href='#'>
				<img src='/img/windows.ico'>
				<h4 class='os__header'>Windows</h4>
			</a>
		</div>
	</div>
</body>
</html>
