<!DOCTYPE html>

<html>
<head>
	<title><%= title %></title>
	<% include layoutHead %>
	<link rel='stylesheet' href='/css/index.css'>
</head>
<body>
	<% include layoutBody %>

	<div id='hero' class='w-960'>
		<div class='heroText'>
			<h2 class='heroHeader'>Marquee</h2>
			<h4 class='heroSubtext'>Markdown notes, keep it simple.</h4>
			<a class='button-primary' href='#'>Download</a>
			<a href='#more'>Read More &darr;</a>
		</div>
		<img src='/img/markitdown.png' alt='MarkItDown'>
	</div>

	<div class='w-960 specials'>
		<div class='special'>
			<div class='image-wrapper'>
				<img src='/img/open-source.svg'>
			</div>
			<header>Open Source</header>
			<p>Ipsum consectetur voluptatum molestias ducimus doloremque.</p>
		</div>
		<div class='special'>
			<div class='image-wrapper'>
				<img src='/img/heart.svg'>
			</div>
			<header>Free</header>
			<p>Ipsum consectetur voluptatum molestias ducimus doloremque.</p>
		</div>
		<div class='special'>
			<div class='image-wrapper'>
				<img src='/img/cross-platform.svg'>
			</div>
			<header>Cross platform</header>
			<p>Ipsum consectetur voluptatum molestias ducimus doloremque.</p>
		</div>
	</div>

	<div class='w-960 demo'>
		<h3 class='section-header'>Demo Usage</h3>

		<h4>Headings</h4>
		<div class='demo-item'>
			<pre class='markdown'>
<code># Primary
## Secondary
### Tertiary
</code>
			</pre>

			<div class='rendered-html'>
				<h1>Primary</h1>
				<h2>Secondary</h2>
				<h3>Tertiary</h3>
			</div>
		</div>

		<h4>Lists</h4>
		<div class='demo-item'>
			<pre class='markdown'>
<code>**A list of items:**

* Item one
* Item two
 * Sub item
* Item three
</code>
			</pre>

			<div class='rendered-html'>
				<b>A list of items:</b>
				<ul>
					<li>Item One</li>
					<li>Item Two</li>
					<ul>
						<li>Sub item</li>
					</ul>
					<li>Item Three</li>
				</ul>
			</div>
		</div>
	</div>

<!--
**A list of items:**

* Item one
* Item two
 * Sub item
* Item three


### H3 Header

_Bulleted list_
* Item One
* Item Two
* Item Three


### H3 Header

_Bulleted list_
* Item One
* Item Two
* Item Three</code
				></pre>
			</div

			><div class='rendered-html'>
				<h1>Primary</h1>
				<h2>Secondary</h2>
				<h3>Tertiary</h3>


				<b>A list of items:</b>
				<ul>
					<li>Item One</li>
					<li>Item Two</li>
					<ul>
						<li>Sub item</li>
					</ul>
					<li>Item Three</li>
				</ul>

				<h3>H3 Header</h3>

				<em>Bulleted list</em>
				<ul>
					<li>Item One</li>
					<li>Item Two</li>
					<li>Item Three</li>
				</ul>

				<h3>H3 Header</h3>

				<em>Bulleted list</em>
				<ul>
					<li>Item One</li>
					<li>Item Two</li>
					<li>Item Three</li>
				</ul>
			</div>
-->


	<div class='w-960 demo-wrapper'>
		<h3 class='section-header'>Write Markdown, Read Formatted Text</h3>

		<video class='demo-video' src='/vid/markitdown.webm' autoplay controls></video>
	</div>

	<div class='w-960'>
		<h3 class='section-header'>Top Features Of Marquee</h3>

		<div class='split-feature'>
			<div class='text'>
				<h4 class='feature-header'>Keep you data safe</h4>
				<p>Elit incidunt molestiae repudiandae distinctio exercitationem, labore Accusamus quo corrupti nobis ad debitis? Repellat cumque vel modi ipsum consectetur. Cupiditate? Elit incidunt molestiae repudiandae distinctio exercitationem, labore Accusamus quo corrupti nobis ad debitis? Repellat cumque vel modi ipsum consectetur. Cupiditate?</p>
			</div>

			<div class='image-wrapper'>
				<img src='/img/bookmark.png' alt='Cloud Storage image'>
			</div>
		</div>

		<div class='split-feature'>
			<div class='text'>
				<h4 class='feature-header'>Cloud storage for your files</h4>
				<p>Elit incidunt molestiae repudiandae distinctio exercitationem, labore Accusamus quo corrupti nobis ad debitis? Repellat cumque vel modi ipsum consectetur. Cupiditate? Elit incidunt molestiae repudiandae distinctio exercitationem, labore Accusamus quo corrupti nobis ad debitis? Repellat cumque vel modi ipsum consectetur. Cupiditate?</p>
			</div>

			<div class='image-wrapper'>
				<img src='/img/bookmark.png' alt='Cloud Storage image'>
			</div>
		</div>
	</div>

	<div class='w-960 made-by'>
		<div class='made-by-text'>
			<h3 class='made-by-header'>Made With:</h3>
			<p>Thanks to everyone who helped create the following</p>
		</div>

		<div class='logos'>
			<img src='/img/electron.svg'>
			<img src='/img/nodejs.svg'>
			<a href='#'>Marked</a>
		</div>
	</div>
</body>
</html>
