<!DOCTYPE html>

<html>
<head>
	<title><%= title %></title>
	<% include layoutHead %>
	<link rel='stylesheet' href='/css/index.css'>
</head>
<body>
	<% include layoutBody %>

	<div id='hero' class='w-960'>
		<div class='heroText'>
			<h2>Simple markdown note taking</h2>
		</div>
		<img src='/img/markitdown.png' alt='MarkItDown'>
	</div>

	<div class='w-960 specials'>
		<div class='special'>
			<div class='image-wrapper'>
				<img src='/img/code.png'>
			</div>
			<header>Open Source</header>
			<p>Ipsum consectetur voluptatum molestias ducimus doloremque.</p>
		</div>
		<div class='special'>
			<div class='image-wrapper'>
				<img src='/img/foursquare.png'>
			</div>
			<header>Free</header>
			<p>Ipsum consectetur voluptatum molestias ducimus doloremque.</p>
		</div>
		<div class='special'>
			<div class='image-wrapper'>
				<img src='/img/cloud.png'>
			</div>
			<header>Cloud Storage</header>
			<p>Ipsum consectetur voluptatum molestias ducimus doloremque.</p>
		</div>
	</div>

	<div class='w-960 demo-wrapper'>
		<h3 class='demo-header'>Write markdown, read formatted text</h3>

		<video class='demo-video' src='/vid/markitdown.webm' autoplay controls></video>
        <!--
		<div class='demo'>
			<div class='markdown'>
				<pre>
<code>### H3 Header

_Bulleted list_
* Item One
* Item Two
* Item Three


### H3 Header

_Bulleted list_
* Item One
* Item Two
* Item Three</code>
				</pre>
			</div>

			<div class='divider'>&#10174;</div>

			<div class='rendered-html'>
				<h3>H3 Header</h3>

				<em>Bulleted list</em>
				<ul>
					<li>Item One</li>
					<li>Item Two</li>
					<li>Item Three</li>
				</ul>

				<h3>H3 Header</h3>

				<em>Bulleted list</em>
				<ul>
					<li>Item One</li>
					<li>Item Two</li>
					<li>Item Three</li>
				</ul>
			</div>
		</div>
    -->
	</div>

	<div class='w-960'>
		<div class='split-feature'>
			<div class='text'>
				<h4 class='feature-header'>Keep you data safe</h4>
				<p>Elit incidunt molestiae repudiandae distinctio exercitationem, labore Accusamus quo corrupti nobis ad debitis? Repellat cumque vel modi ipsum consectetur. Cupiditate? Elit incidunt molestiae repudiandae distinctio exercitationem, labore Accusamus quo corrupti nobis ad debitis? Repellat cumque vel modi ipsum consectetur. Cupiditate?</p>
			</div>

			<div class='image-wrapper'>
				<img src='/img/bookmark.png' alt='Cloud Storage image'>
			</div>
		</div>

		<div class='split-feature'>
			<div class='text'>
				<h4 class='feature-header'>Cloud storage for your files</h4>
				<p>Elit incidunt molestiae repudiandae distinctio exercitationem, labore Accusamus quo corrupti nobis ad debitis? Repellat cumque vel modi ipsum consectetur. Cupiditate? Elit incidunt molestiae repudiandae distinctio exercitationem, labore Accusamus quo corrupti nobis ad debitis? Repellat cumque vel modi ipsum consectetur. Cupiditate?</p>
			</div>

			<div class='image-wrapper'>
				<img src='/img/bookmark.png' alt='Cloud Storage image'>
			</div>
		</div>
	</div>

	<div class='w-960 made-by'>
		<div class='made-by-text'>
			<h3 class='made-by-header'>Made With:</h3>
			<p>Thanks to everyone who helped create the following</p>
		</div>

		<div class='logos'>
			<img src='/img/electron.svg'>
			<img src='/img/nodejs.svg'>
			<a href='#'>Marked</a>
		</div>
	</div>
</body>
</html>
