<!DOCTYPE html>

<html>
<head>
	<title><%= title %></title>
	<% include layoutHead %>
	<link rel='stylesheet' href='/css/index.css'>
</head>
<body>
	<% include layoutBody %>

	<div class='downloads'>
	</div>
</body>
</html>
