<div id='siteHeader' class='w-1200'>
	<span class='logo'><img src='/img/bookmark.png'>MarkItDown</span>
	<nav>
		<a href='/' type='text'>Home</a>
	</nav>
	<a href='/download'><button class='download-button'>Download</button></a>
</div>
