.number {
	font-weight: 800;
	font-size: 1.7rem;
	text-align: center;
	margin-bottom: 2rem;
}

.hero {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding-top: 7rem;
	padding-bottom: 0;
	background: linear-gradient(to bottom right, #007fff, #00afff 50%);
	color: #fff;
	overflow: hidden;
}

.hero-text {
	flex-grow: 1;
	text-align: center;
}

.hero-header {
	display: inline-block;
	margin-top: 0.7rem;
	margin-bottom: 0.7rem;
	padding: 0.5rem 1.2rem;
	font-family: 'Lato';
}

.hero-subtext {
	margin: auto;
	margin-bottom: 3.5rem;
	font-weight: 300;
	font-style: italic;
}

.hero img {
	margin: auto;
	margin-top: 1rem;
	margin-bottom: 0.6rem;
	width: 800px;
	max-width: 100%;
	box-shadow: 0 4px 7px #aaa;
}


.specials {
	--offset: 7%;

	display: flex;
	padding-top: calc(4rem + var(--offset));
	padding-bottom: 4rem;
	text-align: center;
	margin-top: calc(-1 * var(--offset));
	background-color: #fff;
}

.special {
	flex-grow: 1;
	width: 33%;
}

.special:not(:last-child) {
	margin-right: 3rem;
}

.special .image-wrapper {
	height: 70px;
	width: 70px;
	margin: auto;
	border-radius: 100%;
	margin-bottom: 1rem;
}

.special img {
	width: 100%;
}

.special h4 {
	margin: 2rem 0 1.4rem;
}

.special p {
	opacity: 0.8;
}

@media (max-width: 600px) {
	.specials {
		flex-direction: column;
	}

	.special {
		margin-bottom: 2rem;
		width: auto;
	}

	.special:not(:last-child) {
		margin-right: 0;
	}
}

.downloads {
	background-color: #f0f0f0;
}


.step-title {
	font-size: 1rem;
	font-weight: bold;
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.installation code {
	display: block;
	padding: 0.6rem 0.9rem;
	background-color: #f0f0f0;
}

code + code {
	border-top: 1px solid #ddd;
}


.demo-video {
	max-width: 100%;
}

/*
 * Made by
 */

.made-by {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #f0f0f0;
	align-items: center;
	text-align: center;
}

.made-by-header {
	margin-top: 0;
	margin-bottom: 1.5rem;
	font-weight: bold;
}

.logos {
	display: flex;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
}

.logos a {
	height: 2rem;
	margin: 1rem 2rem;
	font-weight: bold;
	font-size: 1.5rem;
}

.logos img {
	max-height: 100%;
	max-width: 100%;
}
