#hero {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding-top: 7rem;
	padding-bottom: 0;
	height: 100vh;
	background: linear-gradient(to bottom right, #007fff, #00afff 50%);
	color: #fff;
	overflow: hidden;
}

.heroText {
	margin: 1.0rem 0 3rem;
	flex-grow: 1;
	text-align: center;
}

.heroHeader {
	display: inline-block;
	margin-top: 0.7rem;
	padding: 0.5rem 1.2rem;
	font-weight: bold;
}

.heroSubtext {
	max-width: 450px;
	margin: auto;
	margin-bottom: 3rem;
}

#hero a {
	font-weight: bold;
}

#hero .button-primary {
	margin-right: 3rem;
}

#hero img {
	margin-top: 2rem;
	margin-bottom: -10%;
	max-width: 100%;
}


.specials {
	display: flex;
	padding-top: 3rem;
	padding-bottom: 3rem;
	text-align: center;
}

.special {
	margin-right: 2rem;
}

.special:last-child {
	margin-right: 0;
}

.special .image-wrapper {
	height: 60px;
	width: 60px;
	margin: auto;
	border-radius: 100%;
	margin-bottom: 1rem;
}

.special img {
	max-width: 150px;
	height: 100%;
	width: 100%;
	opacity: 0.7;
}

.special h4 {
	margin-top: 1.5rem;
}

.special p {
	margin: 0.5rem 0 0;
}

@media (max-width: 600px) {
	.specials {
		flex-direction: column;
	}

	.special {
		margin-right: 0;
		margin-bottom: 2rem;
	}
}

.demo h4 {
	max-width: 500px;
	margin: auto;
	margin-top: 3rem;
	margin-bottom: 1rem;
	font-weight: bold;
}

.demo-header {
	margin-top: 0;
	text-align: center;
	margin-bottom: 3rem;
}

.demo-item {
	max-width: 500px;
	margin: auto;
	display: flex;
	justify-content: space-between;
}

.demo-video {
	width: 100%;
	border: 1px solid #ccc;
}

.markdown, .rendered-html {
	margin: 0;
	width: 45%;
}

.rendered-html h1, .rendered-html h2, .rendered-html h3 {
	margin: 0;
}

.rendered-html h3 {
	margin-top: 0;
}


/* Split features */

.split-feature {
	display: flex;
}

.split-feature:last-child {
	border-bottom: 0px;
}

.split-feature .image-wrapper, .split-feature .text {
	padding: 2rem;
	width: 50%;
}

.split-feature .text {
	width: 66%;
}

.split-feature .image-wrapper {
	width: 33%;
}

.split-feature .image-wrapper img {
	display: block;
	width: 200px;
	max-width: 90%;
	margin: auto;
}

.feature-header {
	margin-top: 0;
}

.split-feature .dots {
	text-align: left;
}


/* Made by */

.made-by {
	display: flex;
	flex-wrap: wrap;
	background-color: #f2f2f2;
}

.made-by-text {
	flex-grow: 1;
	padding: 2rem;
	width: 50%;
}

.made-by-header {
	margin-top: 0;
	font-weight: bold;
}

.logos {
	flex-grow: 1;
	display: flex;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
	width: 50%;
}

.logos img, .logos a {
	height: 2rem;
	margin: 1rem 2rem;
	font-weight: bold;
}
