/* Typography */

html {font-size: 1em;}

body {
  font-family: 'Lato';
  line-height: 1.45;
}

p {margin-bottom: 1.3em;}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 3.998em;
}

h2 {font-size: 2.827em;}

h3 {font-size: 1.999em;}

h4 {font-size: 1.414em;}

small, .font_small {font-size: 0.707em;}


*, *:before, *:after {
	box-sizing: border-box;
}

body {
	margin: 0;
	color: #444;
}

header, h1, h2, h3, h4 {
	font-family: 'Source Sans Pro';
	font-weight: bold;
}

a {
	text-decoration: none;
	color: inherit;
  //color: #00B7FF;
  //color: #00afff;
}

a:hover {
	opacity: 0.8;
}

ul {
	padding: 0;
	list-style-type: none;
}

hr {
	width: 50px;
	border: 0;
	border-bottom: 2px solid #aaa;
	vertical-align: middle;
}


/*
 * PRESETS
 */

.dots {
	color: #00afff;
	font-size: 2.5rem;
	font-weight: bold;
	line-height: 1rem;
	text-align: center;
}

.w-960 {
	padding: 5rem calc(50% - 480px);
}

.w-1200 {
	padding: 5rem calc(50% - 600px);
}

.section-header {
	margin-top: 0;
	text-align: center;
	margin-bottom: 4rem;
	font-weight: bold;
}

.button-primary {
	background-color: #007fff;
	padding: 0.7rem 1.5rem;
}

.errorMessage, .successMessage {
	margin-bottom: 50px;
	padding: 5px;
	color: #fff;
	border-width: 1px;
	border-style: solid;
	animation: 0.3s fade-in;
}

.errorMessage {
	background-color: rgba(255, 0, 0, 0.7);
	border-color: rgb(200, 0, 0);
}

.successMessage {
	background-color: rgba(0, 200, 0, 0.7);
	border-color: rgb(0, 200, 0);
}


@media (max-width: 1350px) {
	.w-1200 {
		padding: 5rem;
	}
}

@media (max-width: 1110px) {
	.w-960 {
		padding: 4rem;
	}
}

@media (max-width: 750px) {
	.w-960, .w-1200 {
		padding: 2.5rem;
	}
}

@media (max-width: 650px) {
	.w-1200 {
		padding: 2.5rem;
	}
}

@media (max-width: 400px) {
	.w-960, .w-1200 {
		padding: 2.5rem 1.5rem;
	}
}


/* Page header */

.site-header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
	color: #fff;
	font-weight: bold;
}

.logo {
	font-size: 1.2rem;
}

.logo img {
	margin-right: 0.5rem;
	height: 1.7rem;
	vertical-align: middle;
}

.site-header nav {
	display: inline-block;
}

.site-header nav a {
	padding: 0 1rem;
}
