.hero {
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding-top: 8rem;
	padding-bottom: 0;
	color: #fff;
	overflow: hidden;
}

.hero-text {
	flex-grow: 1;
	text-align: center;
}

.hero-header {
	margin-top: 0.7rem;
	margin-bottom: 0.7rem;
	padding: 0.5rem 1.2rem;
	text-shadow: 2px 6px rgba(0, 0, 0, 0.2);
}

.hero-subtext {
	display: inline-block;
	margin: auto;
	margin-bottom: 3rem;
	padding-bottom: 0.25rem;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	font-weight: 200;
}

.hero img {
	margin: auto;
	margin-top: 1rem;
	margin-bottom: 0.6rem;
	width: 800px;
	max-width: 100%;
	box-shadow: 0 4px 7px #aaa;
}


.specials {
	--offset: 7%;

	display: flex;
	padding-top: calc(4rem + var(--offset));
	padding-bottom: 4rem;
	text-align: center;
	margin-top: calc(-1 * var(--offset));
	background-color: #fff;
}

.special {
	flex-grow: 1;
	width: 33%;
}

.special:not(:last-child) {
	margin-right: 3rem;
}

.special .image-wrapper {
	height: 70px;
	width: 70px;
	margin: auto;
	border-radius: 100%;
	margin-bottom: 1rem;
}

.special img {
	width: 100%;
}

.special h4 {
	margin: 2rem 0 1.4rem;
}

.special p {
	opacity: 0.8;
}

@media (max-width: 600px) {
	.specials {
		flex-direction: column;
	}

	.special {
		margin-bottom: 2rem;
		width: auto;
	}

	.special:not(:last-child) {
		margin-right: 0;
	}
}

.bg--alt {
	background: linear-gradient(to bottom right, #007fff, #00afff 50%);
	color: #fff;
}


/*
 * Installation
 */

.installation__terminal {
	display: block;
	padding: 1.1rem 1.3rem;
	background-color: #f5f6fa;
	border: 1px solid #eaeaea;
	font-family: 'Anonymous Pro';
	background-color: #272525;
	color: #fff;
	/*! color: #56cf5b; */
}


/*
 * Stories
 */

.story {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	/* Hide untill correct images are set */
	display: none;
}

.story:not(:first-of-type) {
	padding-top: 6rem;
}

.story__img {
	order: 1;
	flex-grow: 1;
	box-shadow: 0 3px 4px #aaa;
}

.story__body {
	order: 2;
	flex-shrink: 0;
	width: 53%;
	padding-left: 6%;
}

.story:nth-child(2n + 1) .story__body {
	order: 0;
	padding-left: 0;
	padding-right: 5%;
}

.story__body h3 {
	margin-top: 0;
}


/*
 * Made by
 */

.made-by {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #f5f6fa;
	padding-top: 3.5rem;
	padding-bottom: 3.5rem;
}

.made-by-header {
	margin-top: 0;
	margin-bottom: 1.5rem;
	font-weight: 200;
}

.logos {
	display: flex;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
}

.logos a {
	height: 2rem;
	margin: 0rem 2rem;
	font-weight: bold;
	font-size: 1.5rem;
}

.logos img {
	max-height: 100%;
	max-width: 100%;
}
