.hero {
	position: relative;

	display: flex;
	justify-content: space-between;
	flex-direction: column;
	padding-top: 8rem;
	padding-bottom: 0;
	color: #fff;
	overflow: hidden;
}

/* Rotated bg */
.hero::after {
	position: absolute;
	bottom: 15%;
	left: -50%;
	right: -50%;
	z-index: 1;

	content: '';
	height: 100%;
	overflow: hidden;
	background: linear-gradient(to bottom right, #007fff, #00afff 50%);
	transform: rotate(-2deg);
}

.hero-text {
	flex-grow: 1;
	text-align: center;
}

.hero-header {
	margin-top: 0.7rem;
	margin-bottom: 0.7rem;
	padding: 0.5rem 1.2rem;
	text-shadow: 2px 6px rgba(0, 0, 0, 0.2);
}

.hero-subtext {
	display: inline-block;
	margin: auto;
	margin-bottom: 2rem;
	padding-bottom: 0.25rem;
	font-weight: 300;
	text-transform: capitalize;
}

.hero-text,
.hero img {
	/* Overlay rotated bg */
	z-index: 9;
}

.hero img {
	margin: auto;
	margin-top: 1rem;
	margin-bottom: 0.6rem;
	width: 800px;
	max-width: 100%;
	box-shadow: 0 4px 7px #aaa;
}


.specials {
	display: flex;
	text-align: center;
	background-color: #fff;
}

.special {
	flex-grow: 1;
	width: 33%;
}

.special:not(:last-child) {
	margin-right: 3rem;
}

.special .image-wrapper {
	height: 70px;
	width: 70px;
	margin: auto;
	border-radius: 100%;
	margin-bottom: 1rem;
}

.special img {
	width: 100%;
}

.special h4 {
	margin: 2rem 0 1.4rem;
}

.special p {
	opacity: 0.8;
}

@media (max-width: 600px) {
	.specials {
		flex-direction: column;
	}

	.special {
		margin-bottom: 2rem;
		width: auto;
	}

	.special:not(:last-child) {
		margin-right: 0;
	}
}

.bg--alt {
	background: linear-gradient(to bottom right, #007fff, #00afff 50%);
	color: #fff;
}


/*
 * Installation
 */

.installation__header {
	margin-bottom: 2rem;
}

.installation__subheader {
	max-width: 500px;
	margin: auto;
	margin-bottom: 3rem;
	text-align: center;
}

.installation__terminal {
	display: block;
	padding: 1.1rem 1.3rem;
	background-color: #f5f6fa;
	font-family: 'Anonymous Pro';
	background-color: #1F2034;
	color: #fff;
	/*! color: #56cf5b; */
	box-shadow: 1px 9px 19px 2px #1F203449;
}

.download-banner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: uppercase;
	background-color: #F5F6FA;
	padding: 1rem 2.8rem;
	box-shadow: 1px 9px 19px 2px #1F203429;
}

.download-text {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.download-arrow {
	transform: rotate(90deg);
	font-size: 4rem;
	margin-right: 0.7rem;
}

.download-header {
	margin: 0;
	font-weight: 300;
}

.download-button {
	padding: 1rem 2.8rem;
	border: 0;
	border-radius: 28px;
	background: #2D8DE3;
	color: #fff;
	box-shadow: 1px 9px 19px 2px #1F203449;
	font-weight: bold;
}

@media (max-width: 600px) {
	.download-banner {
		flex-direction: column;
		padding: 2.5rem;
		background: transparent;
	}

	.download-text {
		display: flex;
		flex-direction: column;
		text-align: center;
		margin-bottom: 1rem;
	}

	.download-text .download-arrow {
		order: 2;
		margin-right: 0;
	}
}


/*
 * Stories
 */

.story {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;

	/* Hide untill correct images are set */
	display: none;
}

.story:not(:first-of-type) {
	padding-top: 6rem;
}

.story__img {
	order: 1;
	flex-grow: 1;
	box-shadow: 0 3px 4px #aaa;
}

.story__body {
	order: 2;
	flex-shrink: 0;
	width: 53%;
	padding-left: 6%;
}

.story:nth-child(2n + 1) .story__body {
	order: 0;
	padding-left: 0;
	padding-right: 5%;
}

.story__body h3 {
	margin-top: 0;
}


/*
 * Made by
 */

.made-by {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	border-top: 1px solid #eaeaea;
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.made-by-header {
	margin-top: 0;
	margin-bottom: 2rem;
	font-weight: 300;
	text-transform: uppercase;
}

.logos {
	display: flex;
	align-items: center;
	align-content: center;
	flex-wrap: wrap;
}

.logos a {
	height: 2rem;
	margin: 0rem 2rem;
	font-weight: bold;
	font-size: 1.5rem;
}

.logos img {
	max-height: 100%;
	max-width: 100%;
}

@media (max-width: 600px) {
	.logos {
		display: flex;
		flex-direction: column;
	}

	.made-by .logo:not(:last-child) {
		margin-bottom: 1.5rem;
	}
}
