{{ define "head" }}
	{{ $style := resources.Get "css/index.css" }}
	<link rel='stylesheet' href='{{ $style.Permalink }}'>
{{ end }}

{{ define "main" }}
	<div class='w-960 hero'>
		<div class='hero-text'>
			<h1 class='hero-header'>Marquee</h1>
			<h3 class='hero-subtext'>Markdown notes, kept simple.</h3>
		</div>
		<img src='/img/marquee.png' alt='Marquee Screenshot'>
	</div>

	<div class='w-960'>
		<div class='stories'>
			<h2 class='section-header section-header--short section-header--low section-header--capital'>Marquee allows you to keep moving</h2>

			<div class='story'>
				<img class='story__img' src='/img/marquee.png' />
				<div class='story__body'>
					<h3>Write markdown, read plain text</h3>
					<p>Write your notes efficently in markdown while marquee displays your document as formatted plain text as you type. No delay, no reloading, instant previews!</p>
				</div>
			</div>

			<div class='story'>
				<img class='story__img' src='/img/marquee.png' />
				<div class='story__body'>
					<h3>Runs on Window, Mac & Linux</h3>
					<p>Marquee is build with electron.js allowing it to run on many platforms without compatibility issues. The resulting single code base means wider support and faster updates.</p>
				</div>
			</div>
		</div>

		<div class='specials'>
			<div class='special'>
				<div class='image-wrapper'>
					<img src='/img/design-color_code-editor.svg'>
				</div>
				<h4>Open Source</h4>
				<p>100% Open source software. All the source code is hosted and avaliable on github.</p>
			</div>
			<div class='special'>
				<div class='image-wrapper'>
					<img src='/img/design-color_compass.svg'>
				</div>
				<h4>Cross Platform</h4>
				<p>Supports many operating systems including Linux, Mac and Windows.</p>
			</div>
			<div class='special'>
				<div class='image-wrapper'>
					<img src='/img/design-color_wand-11.svg'>
				</div>
				<h4>More coming</h4>
				<p>Future features include cross-device sync via cloud storage making your notes avalible on all your devices all at once.</p>
			</div>
		</div>
	</div>

	<div class='w-800 downloads bg--alt'>
		<h2 class='section-header section-header--low'>Download</h2>

		<div class='os-list'>
			<a class='os' href='/bin/marquee-0.0.1-mac.zip' download='Marquee.zip'>
				<div class='container'>
					<img src='/img/mac.ico'>
					<h4 class='os__header'>Mac</h4>
				</div>
			</a>

			<a class='os highlight' href='/bin/marquee 0.0.1.AppImage' download='Marquee.AppImage'>
				<div class='container'>
					<img src='/img/linux.ico'>
					<h4 class='os__header'>Linux</h4>
				</div>
			</a>

			<a class='os' href='/bin/marquee setup 0.0.1.exe' download='Marquee Setup.exe'>
				<div class='container'>
					<img src='/img/windows.ico'>
					<h4 class='os__header'>Windows</h4>
				</div>
			</a>
		</div>
	</div>

	<div class='w-800 installation'>
		<h2 class='installation__header section-header section-header--low'>Manual Installaion</h2>

		<p class="installation__subheader">Don't see a download for your platform? No worries Marquee is open source. Just download the source and you can build it yourself!</p>

		<code class='installation__terminal'>
			$ # Clone from github
			<br>
			$ git clone https://github.com/BarryPH/marquee
			<br>
			<br>

			$ # Install dependencies
			<br>
			$ cd marquee
			<br>
			$ npm i
			<br>
			<br>

			$ # Run with electron
			<br>
			$ electron .
		</code>
	</div>

	<div class='w-960'>
		<div class='download-banner'>
			<div class='download-text'>
				<span class='download-arrow'>&#10143;</span>
				<h3 class='download-header'>Get started instantly!</h3>
			</div>

			<a href='/download'>
				<button class='download-button'>Download</button>
			</a>
		</div>
	</div>

	<div class='w-960 made-by'>
		<h3 class='made-by-header'>Made With</h3>

		<div class='logos'>
			<a href='#'><img src='/img/electron.svg'></a>
			<a href='#'><img src='/img/nodejs.svg'></a>
			<a href='#'>Marked</a>
		</div>
	</div>
{{ end }}
